body{
    color:#731aba;  /* principal */
    color: #6b27e6; /* secundario */
    color: #c374e1; /* claros */
    color: #131058; /* oscuros */
    color: #aed0e6; /* fondos-claros */
    color: #3a006e; /* morados oscuros */
    color: #29014d; /* fondos morados */
    color: #E8D3FF; /* lilita complementario */
}