<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Smash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press Start 2P" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/gumball" rel="stylesheet">

    <link rel="icon" type="image/png" href="/static/images/f-logo.png">
    <link rel="shortcut icon" type="image/png" href="/static/images/f-logo.png">
</head>
<body>
    <div class="container">
        <h1 class="title" onclick="window.location.href='/'"> Fantasy Smash </h1>
    <div class="top_bar_btns">
    {% if is_logged_in %}
        <button onclick="window.location.href='/'">Inicio</button>
        <div class="dropdown">
            <button class="dropbtn">Editar Usuario</button>
            <div class="dropdown-content">
                <a href="#" onclick="ui.showChangeUsernameModal()">Cambiar Username</a>
                <a href="#" onclick="ui.showDeleteUserModal()">Borrar Usuario</a>
            </div>
        </div>
        <button onclick="window.location.href='/logout'">Cerrar Sesión</button>
    {% else %}
        <button onclick="window.location.href='/'">Inicio</button>
        <button onclick="ui.showLoginModal()">Inicia Sesión</button>
        <button onclick="ui.showRegisterModal()">Regístrate</button>
    {% endif %}
    </div>
        <br>
        <div class="top-players">
            <table>    
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Usuario</th>
                        <th>Última clase usada</th>
                        <th>Combates ganados</th>
                        <th>Partidas completadas</th>
                    </tr>
                </thead>

                <tbody>
                    {% for rank in rankings %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{rank.username}}</td>
                        <td>{{rank.character_class}}</td>
                        <td>{{rank.battles_won}}</td>
                        <td>{{rank.completed_games}}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table> 
        </div>

              <!-- Modal de Login -->
    <div id="login-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content auth-modal">
            <div class="modal-header">
                <h2>Iniciar Sesión</h2>
                <button class="close" onclick="ui.closeModal('login-modal')">&times;</button>
            </div>
            
            <form id="login-form" method="POST" action="{{ url_for('login') }}" class="auth-form">
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Usuario:" autocomplete="off" required>
                </div>
                
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Contraseña:" autocomplete="off" required>
                </div>
                <br>
                <br>
                <div class="form-actions">
                    <button type="submit" class="submit-button">Iniciar Sesión</button>
                    <br>
                    <p>¿No tienes cuenta? <a href="#" onclick="ui.showRegisterModal()">Regístrate</a></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Registro -->
    <div id="register-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content auth-modal">
            <div class="modal-header">
                <h2>Registro</h2>
                <button class="close" onclick="ui.closeModal('register-modal')">&times;</button>
            </div>
            
            <form id="register-form" method="POST" action="{{ url_for('register') }}" class="auth-form">
                <div class="form-group">
                    <label for="reg-username"></label>
                    <input type="text" id="reg-username" name="username" placeholder="Usuario:" autocomplete="off" required>
                </div>
                
                <div class="form-group">
                    <label for="reg-password"></label>
                    <input type="password" id="reg-password" placeholder="Contraseña:" autocomplete="off" name="password" required>
                </div>
                <br>
                <br>
                <div class="form-actions">
                    <button type="submit" class="submit-button">Registrarse</button>
                    <br>
                    <p>¿Ya tienes cuenta? <a href="#" onclick="ui.showLoginModal()">Inicia sesión</a></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para cambiar username -->
<div id="change-username-modal" class="modal-overlay" style="display: none;">
    <div class="modal-content auth-modal">
        <div class="modal-header">
            <h2>Cambiar Username</h2>
            <button class="close" onclick="ui.closeModal('change-username-modal')">&times;</button>
        </div>
        <form id="change-username-form" method="POST" action="{{ url_for('update_username') }}" class="auth-form">
            <div class="form-group">
                <label for="current-username"></label>
                <input type="text" id="current-username" placeholder="Usuario Actual:" autocomplete="off" name="username" required>
            </div>
            <div class="form-group">
                <label for="new-username"></label>
                <input type="text" id="new-username" placeholder="Nuevo Usuario:" autocomplete="off"  name="new_username" required>
            </div>
            <div class="form-group">
                <label for="confirm-password"></label>
                <input type="password" id="confirm-password" placeholder="Contraseña:" autocomplete="off" name="password" required>
            </div>
            <br>
            <br>
            <div class="form-actions">
                <button type="submit" class="submit-button">Cambiar Username</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal para borrar usuario -->
<div id="delete-user-modal" class="modal-overlay" style="display: none;">
    <div class="modal-content auth-modal">
        <div class="modal-header">
            <h2>Borrar Usuario</h2>
            <button class="close" onclick="ui.closeModal('delete-user-modal')">&times;</button>
        </div>
        <form id="delete-user-form" method="POST" action="{{ url_for('delete_user') }}" class="auth-form">
            <div class="form-group">
                <label for="delete-username"></label>
                <input type="text" id="delete-username" placeholder="Usuario:" autocomplete="off" name="username" required>
            </div>
            <div class="form-group">
                <label for="delete-password"></label>
                <input type="password" id="delete-password" placeholder="Contraseña:" autocomplete="off" name="password" required>
            </div>
            <div class="form-actions">
                <br>
                <br>
                <button type="submit" class="submit-button">Borrar Usuario</button>
            </div>
        </form>
    </div>
</div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            console.log("Flash messages:", JSON.parse('{{ messages|tojson|safe }}'));
        </script>
        <div id="flash-modal" class="modal-overlay">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" onclick="ui.closeModal('flash-modal')">&times;</button>
                </div>
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endwith %}
        
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ranking.js') }}"></script>
</body>
</html>